ymaps {
  border-radius: 15px;
}

.header {
  top: 0;
  height: 50px;
  width: 100%;
  background-color: rgb(223, 141, 83);
  position: fixed;
  z-index: 100;
  color: white;
  font-weight: bold;
  text-align: center;
}

#main {
  margin-top: 60px;
}

@media (min-width: 700px) {
  .input-group {
    width: 350px !important;
  }
}

.col-centered {
  margin: 0 auto;
}

.curr-temp, .favico {
  display: inline-block;
}

.curr-temp {
  width: 90%;
}

#wrap{
	display		: table;
}
.favico {
	display		: table-cell;
	vertical-align	: middle;
}

p {
 
  
}

