ymaps{
  border-radius: 15px;
}

#header {
  top: 0;
  height: 50px;
  width: 100%;
  background-color: chocolate;
  position: fixed;
  z-index: 100;
}

#main {
  margin-top: 60px;
}

@media (min-width: 700px) {
	.input-group{
		width: 350px !important;
	}
}

.col-centered{
    margin: 0 auto;
}

