body {
	background: url('Open-weather-main-page.png');
	background-size: cover;
}

.header {
	top: 0;
	height: 40px;
	width: 100%;
	background-color: rgb(223, 141, 83);
	position: fixed;
	z-index: 100;
	color: white;
	font-weight: bold;
	text-align: center;
}

.main {
	max-width: 800px;
	margin: 40px auto 0;
	background-color: rgb(239, 245, 237) !important;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	box-shadow: 2px 2px 5px rgb(150, 143, 143), -2px 0px 5px rgb(150, 143, 143);
}

/*input search styles*/

.input-group {
	margin: 0 auto;
}

.search-but {
	font-weight: bold !important;
}

/* current weather styles */

img {
	float: right;
	margin-right: 0px;
}

.weather {
	max-width: 500px;
	margin: 0 auto;
	padding: 0;
	border: 1px dotted orange;
}

.local {
	border-top: 0;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	font-size: 0.8em;
}

.curr-temp {
	border: 1px solid orange;
	border-radius: 3px;
}

.current-header {
	font-size: 1.3em;
}

.city {
	font-weight: 700;
}

.local .current-header {
	cursor: pointer;
}

.local .city {
	padding: 0 4px;
	border: 1px dotted rgb(175, 173, 173);
	border-radius: 4px;
}

/* table styles */

caption {
	caption-side: top !important;
	color: rgb(2, 85, 85) !important;
	font-weight: 700;
}

.date {
	font-weight: bold;
	font-size: 14px;
	color: rgb(2, 85, 85);
}

th {
	text-align: center !important;
	color: rgb(2, 85, 85);
}

td {
	font-size: 12px;
	padding: 5px;
	border: 1px solid rgb(87, 168, 164, 0.5);
}

table {
	margin: 0 auto;
	border-radius: 5px;
	border-style: hidden;
	/* hide standard table (collapsed) border */
	box-shadow: 0 0 0 1px rgb(87, 168, 164);
	/* this draws the table border  */
}

/* favlist styles */

.favlist-item {
	cursor: pointer;
	padding: 2px 0
}

.favlist-item:hover {
	font-weight: 600;
}

.favhead {
	letter-spacing: 0.1em;
	font-size: 1.2em;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.remove {
	color: rgb(75, 77, 241);
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1;
	margin-left: auto;
	padding-right: 5px;
	cursor: pointer;
}

.remove:hover {
	color: red;
}

canvas {
	max-width: 600px;
	margin: 0 auto;
}

.showchart {
	display: block;
	margin: 0 auto;
	font-size: 12px !important;
	min-width: 100px;
	background-color: rgb(52, 97, 245);
	color: rgb(255, 255, 255);
	font-weight: 600;
	border: 0;
}

@media (max-width: 400px) {
	body {
		background-image: none;
	}
	.favlist-item {
		font-size: 1.1em;
		cursor: pointer;
		display: inline-block;
	}
	.showchart {
		padding: 6px 10px;
	}
	.form-control {
		font-size: 1.3em !important;
	}
	.favlist-item {
		font-size: 1.2em;
		padding: 7spx 0 !important;
	}
	.remove {
		padding: 0 20px;
		font-size: 1.6em;
	}
}

@media (min-width: 401px) and (max-width: 800px) {
	.remove {
		padding-right: 10px;
	}
	div.col-sm-9 {
		padding-right: 10px !important;
	}
	body {
		background-image: none;
	}
}

@media (min-width: 700px) {
	.input-group {
		width: 400px !important;
	}
}